<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<dict>
		<key>CFBundleURLSchemes</key>
		<string>fb1945239732351578</string>
	</dict>
	<key>FacebookAppId</key>
	<string>1945239732351578</string>
	<key>FacebookDisplayName</key>
	<string>JSCWR iOS App </string>
</dict>
</plist>
